#header{
				width: 100%;
				height: 10px;
				z-index: 999;
				margin-left:-50px;}

#header ul{
					float: right;
					margin: 5px 0 3px;	
					list-style-type: none;
					display: inline;
					padding: 0 5px;
}				

#header li{
					margin: 10px;	
}
#header li a{
						color: grey;
}
a {
	text-decoration: none;
	display: inline;
}


a:hover{
				text-decoration: underline;
}

li {
		display: inline;
		font-size: 0.8em;
		font-family: sans-serif;
		color: #666666;
}

#header li a.sign_in{
				color: white;
				background-color: #326AFD;
				border: 1px solid;
				font-weight: bold;
				display: inline;
				font-size: 13px;
				font-family: arial;
				padding-right: 12px;
				padding-top: 0px;
				padding-bottom: 0px;
				padding-left: 12px;

}


#logo{
			width: 270px; 
			height: 95px;
			display: block;
			margin: auto;
			padding-top: 200px;
			padding-left: 298px;
			font-size: 13px
}

.search_box{
						width: 570px;
						height: 10px;
						padding-top: 15px;
						font-size: 13px;
						display: block;
						margin: auto;
						padding: 8px 11px;
}

.search_buttons{
								float: left;
								width: 500px;
								display: inline;
								font-size:.7em;
								padding-left: 598px;
								padding-top: 10px;
}
.search_button a {
									color: black;
}

}
.search_button{
								display: inline-block;
								text-align: center;
								font-weight: bold;
								margin: auto;
								border: 1px solid transparent;;
								background-color: #f5f5f5
}	

#footer{
				position: absolute;
				width: 100%;
				bottom: 0;
				background-color: #EFEFEF;
}

#footer li{
					margin: 10px;
}
.left_footer{
						left: 0;
						float:	left;
						position: fixed;
}

.right_footer{
							right: 0;	
							float: right;
							padding-right: 20px;
}

#footer a:link{ font-family: sans-serif; color: #666666; text-decoration: none; }
#footer a:visited 	{ font-family: sans-serif; color: #666666; text-decoration: none: none; }

#footer li{
						font-size: 0.8em;
						font-family: sans-serif;
						color: #666666;
}




